.article-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.article-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(9, 2, 0, 0.07);
}

.article-box.left {
  flex-direction: row;
}

.article-box.right {
  flex-direction: row-reverse;
}

.image-placeholder {
  width: 38%;
  aspect-ratio: 4 / 3;
  background-color: #d8d8d8;
  border-radius: 8px;
  overflow: hidden;
}

.image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: static; 
  opacity: 1; 
}

.article-text {
  flex: 1;
}

.article-text h2 {
  margin-bottom: 0.5rem;
  color: #6c4c6e;
  font-size: 1.6rem;
}

.article-text p {
  color: #4a3a4a;
  margin-bottom: 1rem;
}

.read-more {
  background-color: #a48bb3;
  color: white;
  font-size: 14px;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.read-more:hover {
  background-color: #73507e;
  transition: 0.3s ease;
}
