.donate {
    background-color: rgb(201, 175, 212);
    height: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate-box {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255, 0.7);
    height:40vh;
    width: 60vh;
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}