body {
  font-family: 'montserrat';
  background-color: #efebe7;
  display: flex;
  justify-content: center;
  width: 100vw;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
