.logo-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  height: 50px;
  width: auto;
  padding-right: 2px;
}

.nav-bar {
  background-color: #efebe7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  color: #3a3c5b;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-title,
.nav-side {
  text-decoration: none;
  color: #555779;
  font-weight: 500;
  font-size: 19px; /* ← increase this to 1.2rem or more if you want it bolder */
  padding-left: 20px;
}

.nav-title:hover,
.nav-side:hover {
  color: #000;
  transition: ease 0.3s;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 25.9px;
  left: -65px;
  color: #555779;
  background-color: rgb(239, 235, 231);
  border: 1px solid #ddd;
  display: none;
  flex-direction: column;
  min-width: 200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 1002;
  gap: 0.3rem;
  padding: 1rem;
}

.dropdown-wrapper:hover .dropdown-content {
  display: flex;
}

.dropdown-content a {
  padding: 0.5rem 1rem;
  color: #555779;
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}

.dropdown-content a:hover {
  color: #000000;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  user-select: none;
  z-index: 1002;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #3a3c5b;
}

.hamburger:hover {
  color: #9fa1ce;
  transition: ease 0.3s;
}

@media (max-width: 850px) {
  .hamburger {
    display: block;
    align-self: center;
  }

  .nav-container {
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    position: fixed;
    top: 0;
    right: -320px;
    height: 100vh;
    width: 200px;
    background-color: #efebe7;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    flex-direction: column;
    transition: right 0.3s ease;
    z-index: 1001;
    gap: 4.5rem;
    padding-top: 7rem;
  }

  .nav-links.open {
    right: 0;
  }
}

@media (max-width: 500px) {
  .nav-links {
    width: 150px !important;
  }

  .dropdown-content {
    left: -50px;
    padding: 0.3rem;
    max-width: 10px !important;
  }
}
